<app-navbar></app-navbar>
<p>student works!</p>
<style>
    .v{
        border: 2px solid green;
    }
    .i{
        border: 2px solid red;
    }
</style>
<div class="w-25 mx-auto">
    <form action=""  #f="ngForm" (ngSubmit)="validate(f)">

        <label for="sname">Enter name<span class="fs-5 text-danger">*</span></label>
        <input type="text" ngModel #u="ngModel" name="sname" id="" class="form-control" required pattern="[a-z]+" [class.v]="u.valid" [class.i]="u.invalid && u.touched"/>
        <div *ngIf="u.errors?.['required'] && u.touched" class="text-danger">Enter name</div>
        <div *ngIf="u.errors?.['pattern'] && u.touched" class="text-danger">invalid pattern enter only alphabets</div>
        <label for="semail">Enter Email<span class="fs-5 text-danger">*</span></label>
        <input type="email" ngModel #p="ngModel" name="semail" id="" class="form-control mb-2" required pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$" [class.v]="p.valid" [class.i]="p.invalid && p.touched" />
        <div *ngIf="p.errors?.['required'] && p.touched" class="text-danger">Enter Email</div>
        <div *ngIf="p.errors?.['pattern']" class="text-danger">invalid email </div>
     
       
        <label for="" class="mt-2">Enter Message<span class="fs-5 text-danger">*</span></label>
        <textarea name="" id="" class="form-control mb-2" name="msg" ngModel #msg="ngModel" required maxlength="10" [class.i]="msg.errors?.['required'] && msg.touched" [class.v]="msg.valid" ></textarea>
        <div *ngIf="msg.errors?.['required'] && msg.touched" class="text-danger">write somthing</div>
        <input type="checkbox"  name="check" ngModel #c="ngModel"  id="" class="form-check-input" ><label for="">hasExperience</label><br>
        <label for="" *ngIf="c.value">Enter Experience</label>
        <input type="number" name="ex" ngModel [(ngModel)]="ex" id="" *ngIf="c.value" class="form-control">
        <!-- <div *ngIf="msg.errors?.['maxlength']" class="text-danger">write only 10 letters</div> -->
        <div class="d-flex justify-content-between">
        <button type="submit" class="btn btn-success my-3 w-50 ms" [disabled]="f.invalid">Login</button>
        <button type="reset" class="btn btn-danger my-3 w-50">Reset</button></div>
    </form>

    <div class='mt-4' *ngIf="f.valid && sub">
        <h3 class="text-center">Student Details</h3>
        <h5>Student name: <span class="text-success">{{u.value}}</span> </h5>
        <h5>Student email: <span class="text-success">{{p.value}}</span></h5>
        <h5 *ngIf="c.value" >Student experience: <span class="text-success">{{ex}}</span></h5>
        <h5>Student message: <span class="text-success">{{msg.value}}</span></h5>
    </div>

    {{12345|number:'3.4-5'}}
    {{'good morning' | slice:0:3}}
    {{0.6|percent}}

    {{'12-09-2000' | date:'ddMMyyyy' }}
    {{'12-09-2000' | date:'longDate' }}
    {{51.5 | currency:'EUR'}} <br/>
    {{51.5 | currency:'USD':true}} <br/>
    <!-- {{51.5 | currency:'USD':true:'2'}} <br/> -->
     {{588 | currency:'INR'}}
     {{100 | discount}}
     {{20/100 - 100}}
</div>